.navbaritem {
    background-color: black;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.navbar a {
    text-decoration: none;
}

.upper-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
}

.bg-body-tertiary {
    display: flex;
    flex-direction: column;
}

.search-container {
    position: relative;
    width: 200px;
}

.search-bar {
    width: 100%;
    padding-right: 35px;
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
    font-size: 16px;
    color: black;
}

.search-button {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    outline: none;
    background-color: #ddb347;
    padding: 3px 5px;
    cursor: pointer;
}

.buttons-container button {
    background-color: #ddb347;
    border: none;
    outline: none;
    padding: 5px 10px;
    margin-left: 25px;
    cursor: pointer;
    border-radius: 5px;
}

.user-logged-in-status {
    display: flex;
    align-items: center;
}

.user-logged-in-status h6 {
    color: white;
    margin-left: 20px;
}

.user-logged-in-status button {
    background-color: red;
    margin-left: 20px;
    border-radius: 35%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
}

